button
.button
  width: 100%
  line-height: $themeElementHeight
  text-align: center
  color: $themeTextColorInverted
  background-color: $blue500
  transition: box-shadow $themeTransitionTime ease-in
  box-shadow: -4px 2px 12px $themeShadowColor
  
  &:hover
  &:focus
    box-shadow: -6px 3px 12px $themeShadowColor2
    cursor: pointer